@font-face {
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 400;
    src:
    local('Grotesque'),
    local('Grotesque-regular'),
    url(./font/FoundersGroteskWeb-Regular.woff2) format('woff2'),
    url(./font/FoundersGroteskWeb-Regular.woff) format('woff');
}

html {
    font-family: 'Grotesque', sans-serif;
}

body {
    font-family: 'Grotesque', 'Grotesque-regular', sans-serif;
    max-width: 100%;
}

img {
    max-width: 100%;
    max-height: auto;
}

/*Header Component*/

.header {
    background-color: transparent;
    width: 100%;
    position: fixed;  
    top:0;
    margin-top: 20px;
    height: 21px;
    align-items: center;
    display: flexbox;
    justify-content: space-evenly;
}

header h1 {
font-size: 16px;
}

header .width{
    width: 400px !important;
}

.end {
    display: flexbox;
    text-align: end;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black !important;
    font: bold ;
}

.link:hover {
    text-decoration: none;
}

.link h1:hover {
    color: rgba(0,0,0,0.3);
}

/*Projects Component*/

.projects {
    width: 100vw;
    position: relative;
}

.left {
        cursor: url('./icons/Arrowleft.svg'), auto;
}

.right {
        cursor: url('./icons/Arrowright.svg'), auto;
}

/*About component*/

.about-container {
    margin-top: 0;
    display: flexbox;
}

.about-section {
    text-align: left;
    top: 20px;
    height: 182px;
}

.side-col {
  
}

.cv{
    margin-top: 50px;
}

.cv a{
   text-decoration: none;
   color: black; 
}

.clients{
    margin-top: 50px;
}
.client-list ul {
    list-style-type:none;
    padding-left: 0px;
    margin-left: 0;
} 
.client-list li {
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
}