@font-face {
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1rem; */
    src:
    local('Grotesque'),
    local('Grotesque-regular'),
    url(./font/FoundersGroteskWeb-Regular.woff2) format('woff2'),
    url(./font/FoundersGroteskWeb-Regular.woff) format('woff');
}


body {
    font-family: 'Grotesque', 'Grotesque-regular', sans-serif;
    max-width: 100%;
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

html {
    font-family: 'Grotesque', sans-serif;
    min-height: 100vh;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}

a {
    color: black !important;
}

a:hover {
    color: rgba(0,0,0,0.3) !important;
    /* text-decoration: none!important; */
}

/*Header Component*/

.header {
    width: 100%;
    position: fixed;  
    top:0;
    height: 60px;
    align-items: center;
    align-self: auto;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    padding-left: 50px;
    padding-right: 50px;

}

header h1 {
font-size: 16px;
}

header .width{
    width: 400px !important;
}

header .link {
    color: black !important;
    text-decoration: none!important;
}

.link h1:hover {
    color: rgba(0,0,0,0.3);
}

/*Loading Page*/

.loading {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10;
    justify-content: center;
    align-items: center;
    padding-top: -15px;
    margin-top: -50px;
    text-justify: auto;
    text-align: center;
    animation: fadeout 1s;
}

/*Projects Component*/

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    min-height:100vh;
    padding-bottom: 0px; 
    align-self: center;  
}

.caption {
    display: flex;
    position: absolute;
    justify-content: center;    
    align-items: flex-end;
    height: 20px;
    bottom: 0px;
    color: black;
    right: 0%!important;
    left: 0%!important;
    line-height: 1.17;
}

.carousel-caption{
position: absolute;
color: black;
bottom: 0;
}


.carousel {
    text-align: center;
    margin-left: 7vw;
    margin-right: 7vw;
    height: 100%-3.5em;
    position: relative;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-div {
display: flex;
align-self: center;
position: relative;
height: calc(100vh - 60px);
top:30px;
}

.carousel img {
        object-fit: scale-down;   
        align-self: center; 
        max-height: calc(100vh - 120px);
        width: auto;

    }

.carousel-fade .carousel-item {
    z-index: 0;
}

.carousel-control-next {
    cursor: url('./icons/Arrowright.svg'), auto;
    width: 59% !important;
    right: -9%;
    height: 100%;}

.carousel-control-prev {
    cursor: url('./icons/Arrowleft.svg'), auto;
    width: 59% !important;
    left: -9%;
    height: 100%;
}
.carousel-indicators {
    display: none!important;

}
.carousel-control-next-icon{
    display: none!important;
}

.carousel-control-prev-icon{
    display: none!important;
}

.carousel-caption a{
    cursor: pointer;
}


.left {
        cursor: url('./icons/Arrowleft.svg'), auto;
}

.right {
        cursor: url('./icons/Arrowright.svg'), auto;
}

/* Projects Animation */


/*About component*/

.about-container {
    margin-top: 0;
    display: flexbox;
}

.about-section {
    text-align: left;
    top: 18px;
    height: 182px;
    padding-left: 40px;
    padding-right: 40px;
    animation: fadein 0.7s;
    line-height: 1.17;   
}

.cv{
    margin-top: 50px;
}

.cv a{
color: black; 
}

.clients{
    padding-left: 0px;
}
.client-list {
    list-style-type:none;
    padding-left: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
} 
.client-list li {
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
}

/* Animation */

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
        display:none;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}






/* Media Queries */

@media only screen and (max-width: 1386px) {

}

@media only screen and (max-width: 1024px) {
    .header {
    position: absolute;
    }

    .about-section {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .carousel img{
        /* top: calc(50vh - (50% - 60px)) */
        transform: translateY(calc((5%)));
    }
    
}
@media only screen and (max-width: 1024px) and (height: 1366px) {
    .carousel img{
        transform: translateY(calc((50%)));
    }
}

@media only screen and (max-width: 1366px) and (height: 1024px) {
    .carousel img{
        transform: translateY(calc((8%)));
    }
}

@media only screen and (max-width: 992px) {

    .header {
        align-items: flex-start;
        top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .projects {
        padding-left: 10px;
        padding-right: 10px;
    }

    .carousel {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        min-width: 50%;
    }

    .carousel-control-next {
        cursor: url('./icons/Arrowright.svg'), auto;
        width: 53% !important;
        right: -3%;
        height: 100%;}
    
    .carousel-control-prev {
        cursor: url('./icons/Arrowleft.svg'), auto;
        width: 53% !important;
        left: -3%;
        height: 100%;
    }

    .graphic {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 768px) {

    .carousel img{
        transform: translateY(calc((40%)));
    }

    .about-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .about-section {
        padding-left: 35px;
        padding-right: 35px;
    }

    .projects {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media only screen and (max-width: 667px) and (height:375px) {
    .carousel img{
        transform: translateY(calc((4%)));
    }
}

@media only screen and (max-width: 640px) and (max-height:360px) {
    .carousel img{
        transform: translateY(calc((4%)));
    }
}

@media only screen and (max-width: 568px) and (height:320px) {
    .carousel img{
        transform: translateY(calc((4%)));
    }
}


@media only screen and (max-width: 414px) and (height: 736px)  {
    .carousel img{
        transform: translateY(calc((68%)));
    }
}

@media only screen and (max-width: 411px) {
    .carousel img{
        transform: translateY(calc((60%)));
    }
}


@media only screen and (max-width: 411px) and (height: 823px)  {
    .carousel img{
        transform: translateY(calc((80%)));
    }
}

@media only screen and (max-width: 375px) and (height: 812px)  {
    .carousel img{
        transform: translateY(calc((90%)));
    }
}

@media only screen and (max-width: 360px) {
    .carousel img{
        transform: translateY(calc((55%)));
    }

}
