@font-face {
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 400;
    src:
    local('Grotesque'),
    local('Grotesque-regular'),
    url(./font/FoundersGroteskWeb-Regular.woff2) format('woff2'),
    url(./font/FoundersGroteskWeb-Regular.woff) format('woff');
}

html {
    font-family: 'Grotesque', sans-serif;
}

body {
    font-family: 'Grotesque', 'Grotesque-regular', sans-serif;
    max-width: 100%;
}

img {
    max-width: 100%;
    max-height: auto;
}

a {
    text-decoration: none;
    color: black !important;
}

a:hover {
    color: rgba(0,0,0,0.3) !important;
    text-decoration: none!important;
}

/*Header Component*/

.header {
    background-color: transparent;
    width: 100%;
    position: fixed;  
    top:0;
    margin-top: 20px;
    height: 21px;
    align-items: center;
    display: flexbox;
    justify-content: space-evenly;
    z-index: 5;
}

header h1 {
font-size: 16px;
}

header .width{
    width: 400px !important;
}

.end {
    display: flexbox;
    text-align: end;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black !important;
    font: bold ;
}

.link:hover {
    text-decoration: none;
}

.link h1:hover {
    color: rgba(0,0,0,0.3);
}

/*Projects Component*/

.projects {
    position: relative;
    display: flex;
    justify-content: center;
}


.carousel {
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    max-width: 70vw;
    max-height: 80vh;
    padding-bottom: 0;
}

.carousel-fade .carousel-item {
    z-index: 0;
}

.carousel-control-next {
    cursor: url('./icons/Arrowright.svg'), auto;
    width: 75% !important;
    right: -250px;
}

.carousel-control-prev {
    cursor: url('./icons/Arrowleft.svg'), auto;
    width: 75% !important;
    left: -250px;
}
.carousel-indicators {
    display: none!important;
 
}
.carousel-control-next-icon{
    display: none!important;
}

.carousel-control-prev-icon{
    display: none!important;
}

.caption {
    position: relative;
    top:3%;
    left: 0%;
    color: black;
}

.carousel-caption a{
    cursor: pointer;
}

.d-block {
    max-height: 85vh;
    width: auto;
}

.left {
        cursor: url('./icons/Arrowleft.svg'), auto;
}

.right {
        cursor: url('./icons/Arrowright.svg'), auto;
}

/*About component*/

.about-container {
    margin-top: 0;
    display: flexbox;
}

.about-section {
    text-align: left;
    top: 20px;
    height: 182px;
    padding-left: 6px;
}

.side-col {
  
}

.cv{
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 0px;
}

.cv a{
   text-decoration: none;
   color: black; 
}

.clients{
    margin-top: 50px;
}
.client-list {
    list-style-type:none;
    padding-left: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
} 
.client-list li {
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
}


/* Breakpoints */