@font-face {
    font-family: 'Grotesque';
    font-style: normal;
    font-weight: 400;
    src:
    local('Grotesque'),
    local('Grotesque-regular'),
    url(./font/FoundersGroteskWeb-Regular.woff2) format('woff2'),
    url(./font/FoundersGroteskWeb-Regular.woff) format('woff');
}

html {
    font-family: 'Grotesque', sans-serif;
}

body {
    font-family: 'Grotesque', 'Grotesque-regular', sans-serif;
    max-width: 100%;
}

a {
    color: black !important;
}

a:hover {
    color: rgba(0,0,0,0.3) !important;
    /* text-decoration: none!important; */
}

/*Header Component*/

.header {
    width: 100%;
    position: fixed;  
    top:0;
    height: 60px;
    align-items: center;
    align-self: auto;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
}

header h1 {
font-size: 16px;
}

header .width{
    width: 400px !important;
}

.link {
    color: black !important;
}

.link h1:hover {
    color: rgba(0,0,0,0.3);
}

/*Loading Page*/

.loading {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10;
    justify-content: center;
    align-items: center;
    padding-top: -15px;
    margin-top: -50px;
    text-justify: auto;
    text-align: center;
}

/*Projects Component*/

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-top: 60px;
    height: 100vh;
    padding-bottom: 0px; 
    align-self: center; 
    
}

.caption {
    display: inline-flex;
    justify-content: center;    
    width: 100%;
    height: 20px;
}
.carousel {
    text-align: center;
    margin-left: 7vw;
    margin-right: 7vw;
    width: auto;
    min-width: 50%;
}

.carousel-div {
display: flex;
align-self: center;
max-width: 97%;
}

.carousel img {
    /* position: absolute; */
        object-fit: scale-down;   
        align-self: center; 
        max-height: 85vh;
        width: auto;
    }

.carousel-fade .carousel-item {
    z-index: 0;
}

.carousel-control-next {
    cursor: url('./icons/Arrowright.svg'), auto;
    width: 59% !important;
    right: -9%;
    height: 100%;}

.carousel-control-prev {
    cursor: url('./icons/Arrowleft.svg'), auto;
    width: 59% !important;
    left: -9%;
    height: 100%;
}
.carousel-indicators {
    display: none!important;
 
}
.carousel-control-next-icon{
    display: none!important;
}

.carousel-control-prev-icon{
    display: none!important;
}

.caption {
    height: 60px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center
}


.carousel-caption a{
    cursor: pointer;
}


.left {
        cursor: url('./icons/Arrowleft.svg'), auto;
}

.right {
        cursor: url('./icons/Arrowright.svg'), auto;
}

/*About component*/

.about-container {
    margin-top: 0;
    display: flexbox;
}

.about-section {
    text-align: left;
    top: 20px;
    height: 182px;
    padding-left: 40px;
    padding-right: 40px;
}

.cv{
    margin-top: 50px;
}

.cv a{
   color: black; 
}

.clients{
    padding-left: 0px;
}
.client-list {
    list-style-type:none;
    padding-left: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
} 
.client-list li {
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
}


/* Media Queries */

@media only screen and (max-width: 1386px) {
    .carousel img {
        /* object-fit: none;    */
        align-self: center; 
        max-height: 70vh;
    }
  }

@media only screen and (max-width: 1024px) {
    .header {
      position: absolute;
      /* margin-top: 0px; */
    }

    .about-section {
        padding-top: 30px;
    }
  }

  @media only screen and (max-width: 992px) {
    .carousel img {
        /* object-fit: none;    */
        align-self: center; 
        max-height: 50vh;
    }
  }

  @media only screen and (max-width: 768px) {
    .carousel {
        text-align: center;
        margin-left: 35px;
        margin-right: 35px;
        width: auto;
        min-width: 50%;
    }
    .projects {
        padding-left: 0;
        padding-right: 0;
    }
    .caption {
        height: 100px;
        top: -30px
    }

    .header {
        align-items: flex-start;
        top: 5px;
    }
}
